/* Authors: Jackson Westover & */
/* TODO:: This is all placeholder you can change as you want  I did get this from
 https://psyche.asu.edu/ main page though */

footer {
  background-image: linear-gradient(to right, rgb(48, 33, 68), rgb(89, 38, 81) 33%, rgb(165, 63, 91) 66%, rgb(239, 89, 102));
  background-repeat: repeat-x;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  /* height: 100px; */
  line-height: 31px;
  opacity: 1;
  padding: 16px 0;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 100%;
}

strong {
  font-weight: 500;
}

h3 {
  font-weight: 100;
}

p {
  font-size: 12px;
  font-weight: 100;
}