/* CSS for the Header  */

header {
    background-image: linear-gradient(to right, rgb(48, 33, 68), rgb(89, 38, 81) 33%, rgb(165, 63, 91) 66%, rgb(239, 89, 102));
    padding: 10px;
  }
  
  nav {
    margin-right: 16px;
  }

  nav ul {
    align-items: center;
    display: flex;
    text-align: left;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
    font-size: 24px;
  }
  
  nav ul li:hover {
    font-size: 18px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  img {
    width: 75px;
    height: auto;
    padding: 0;
    margin: 0;
  }
  