.box {
    background-color: #BCB8BF;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;

}

.agePlacement {
    margin: 20px;
    padding: 20px;
    border-bottom: 2px solid black;
}

a.sup {
    text-decoration: none;
    color: blue;
    
}

a:hover.sup {
    color: rgb(255, 94, 0);
    
}

select {
    margin-left: 2px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin: 1px;
}

label {
    font-weight: bold;
    font-size: 30px;
    
}

tr, th, td {
    border: 2px solid black;
    padding: 5px;
    
}

td.blank {
    border: none;
}