/* Almost all the css for the project any other
 will be in components CSS for individual cases on components*/
*{
  font-family: Helvetica;
}
/* Drawing Page and Canvas */
.main-container {
  display: flex;
  padding: 20px;
  gap: 30px;
}
/* Toolbar Containers, Colors, Resizing,Clear, and Canvas CSS */
.toolbar {
  position: relative;
  margin-top: 100px;  
  width: 150px;
  border: solid;
  padding: 20px;
  text-align: center;
  background-color: #F1F1F2;
  border-radius: 8px;
  height: fit-content;
}

.colorPalette {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-content: center;
  padding: 10px;
}

.colorSwatch {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.colorSwatch:hover {
  transform: scale(1.1);
}

/* Brush CSS */
.brushSizes {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 10px ;
  padding-left: 30px;
}

/* Small brush */
.brushCanvas0 {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  background-color: #F3722D;
  border-radius: 50%;
  cursor: pointer;
}

/* Medium brush */
.brushCanvas1 {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background-color: #F3722D;
  border-radius: 50%;
  cursor: pointer;
}

/* Large brush */
.brushCanvas2 {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  background-color: #F3722D;
  border-radius: 50%;
  cursor: pointer;
}

.brushCanvas0:hover,
.brushCanvas1:hover,
.brushCanvas2:hover {
  transform: scale(1.1);
}

/* Buttons on Draw Page */
.brushOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 10px;
}

.canvasButton {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #E3E2E5;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.canvasButton:hover {
  background-color: #F3722D;
  color: white;
}

.canvas-container {
  display: block; 
  max-width: 100%; 
  margin: 0 auto; /* Centers the canvas */
  text-align: center;
}

.canvas {
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
  border-radius: 10%;
}

/* Hint CSS */

.hintBox {
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  width: 700px;
  height: 100px; 
  overflow: hidden; 
}

.hintBoxWords {
  white-space: normal; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.hintButton {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #E3E2E5;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.hintButton:hover {
  background-color: #F3722D;
  color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* This creates space between the buttons */
}

/* Home CSS Styling */
.home-container {
  width: 100%;
  height: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.home-buttons-section {
  display: flex;
  gap: 20px; /* Add spacing between buttons */
  flex-direction: row;
}

.home-button-container {
  text-align: center;
}

.home-button {
  width: 200px;
  height: 60px;
  background: #8dbaee;
  border-radius: 12px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.home-button:hover {
  background-color: #75a7d9;
  transform: scale(1.05);
}
