/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Drawing Page and Canvas */
.main-container {
  display: flex;
  align-items: stretch;
  padding: 20px;
}

/* Toolbar Containes, Colors, Resizing,Clear, and Canvas Size */
.toolbar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 20px;
  width: 120px;
  border: solid;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.colorPalette {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.colorSwatch {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
}

/* Brush Size Buttons */
.brushCanvas {
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 20%;

}

/* Fill Tool Button */
.fillButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Eraser Tool Button */
.eraserButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Spray Paint Tool Button */
.sprayButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Clear Button */
.clearButtonCanvas {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Canvas Resizer */
.canvasSizeInput {
  width: 50px;
  margin-left: 5px;
}
/* Canvas Container */
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Canvas */
.canvas {
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
}