/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Drawing Page and Canvas */
.main-container {
  display: flex;
  align-items: stretch;
  padding: 20px;
}

/* Toolbar Containes, Colors, Resizing,Clear, and Canvas Size */
.toolbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
  width: 120px;
  border: solid;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.colorPalette {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 20%;

}

.colorSwatch {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
}

/* Brush Size Buttons */
.brushSizes {
  /* display: grid;
  flex-direction: column; */
  /* margin-right: 20px; */
  padding-left: 20%;
}

/* Medium brush */
.brushCanvas0 {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background-color:   #F3722D;;
  border-radius: 50%;
  cursor: pointer;
}

/* Medium brush */
.brushCanvas1 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color:   #F3722D;;

  border-radius: 50%;
  cursor: pointer;
}

/* Large brush */
.brushCanvas2 {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color:   #F3722D;;

  border-radius: 50%;
  cursor: pointer;
}
/* Buttons on Draw Page */
.fillButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.eraserButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.sprayButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.ovalButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.undoButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.redoButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.clearButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Canvas Resizer */
.canvasSizeInput {
  width: 50px;
  margin-left: 5px;
}
/* Canvas Container */
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Canvas */
.canvas {
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
}

.hintBox{
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
  /* padding-bottom: 10px; */
  /* padding-left: 10px; */
  padding-right: 10px;
  padding-top: 10px;
  }
  
/* 
.hintBoxWords{

} */
  



/* Home CSS Styling */
/* Main container */
.home-container {
  width: auto;
  height: 1024px;
  position: relative;
  background: white;
}

/* Welcome header */
.home-welcome-header {
  position: absolute;
  left: 825px;
  top: 313px;
  color: black;
  font-size: 96px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

/* Header section */
.home-header-section {
  width: 1281px;
  height: 108px;
  position: absolute;
  left: 80px;
  top: 22px;
}

.home-nasa-logo {
  width: 108px;
  height: 108px;
  position: absolute;
  background: #8dbaee;
}

.home-nasa-logo-text {
  position: absolute;
  left: 13px;
  top: 46px;
  color: black;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.home-link {
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.home-link-nasa {
  left: 1100px;
  top: 29px;
}

.home-link-psyche {
  left: 2100px;
  top: 22px;
}

/* Buttons Section */
.home-button {
  width: 407px;
  height: 119px;
  position: absolute;
  background: #8dbaee;
  border-radius: 27px;
  border: 2px solid black;
}

.home-button-illustrator {
  left: 742px;
  top: 547px;
}

.home-button-trivia {
  left: 1400px;
  top: 547px;
}

.home-button-text {
  position: absolute;
  color: black;
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.home-text-illustrator {
  left: 814px;
  top: 587px;
}

.home-text-trivia {
  left: 1565px;
  top: 587px;
}

/* Footer */
.home-footer {
  width: 100%;
  height: 83px;
  position: absolute;
  background: #f1b6b6;
  left: 0;
  top: 1200px;
}

.home-footer-text {
  position: absolute;
  left: 25px;
  top: 1225px;
  color: black;
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
