/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Drawing Page and Canvas */
.main-container {
  display: flex;
  align-items: stretch;
  padding: 20px;
}

/* Toolbar Containes, Colors, Resizing,Clear, and Canvas Size */
.toolbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 20px;
  width: 120px;
  border: solid;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.colorPalette {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 20%;

}

.colorSwatch {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20%;
  cursor: pointer;
}

/* Brush Size Buttons */
.brushSizes {
  /* display: grid;
  flex-direction: column; */
  /* margin-right: 20px; */
  padding-left: 20%;
}

/* Medium brush */
.brushCanvas0 {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background-color:   #F3722D;;
  border-radius: 50%;
  cursor: pointer;
}

/* Medium brush */
.brushCanvas1 {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color:   #F3722D;;

  border-radius: 50%;
  cursor: pointer;
}

/* Large brush */
.brushCanvas2 {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color:   #F3722D;;

  border-radius: 50%;
  cursor: pointer;
}
/* Buttons on Draw Page */
.fillButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.eraserButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.sprayButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.ovalButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.undoButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.redoButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}
.clearButton {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 20%;
}

/* Canvas Resizer */
.canvasSizeInput {
  width: 50px;
  margin-left: 5px;
}
/* Canvas Container */
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Canvas */
.canvas {
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
}

.hintBox{
  border: 2px solid #030000;
  background-color: rgb(241, 236, 228);
  /* padding-bottom: 10px; */
  /* padding-left: 10px; */
  padding-right: 10px;
  padding-top: 10px;
  }
  
/* 
.hintBoxWords{

} */
  